Source: r-other-rkward-rk.anova
Section: math
Priority: optional
Maintainer: m.eik michalke <meik.michalke@hhu.de>
Build-Depends-Indep: debhelper (>> 4.1.0), r-base-dev (>= 2.9.0), cdbs, rkward (>= 0.5.6)
Standards-Version: 3.9.3.1
Homepage: https://rkward.kde.org

Package: r-other-rkward-rk.anova
Architecture: all
Section: math
Depends: r-base (>= 3.0.0), rkward (>= 0.6.0)
Description: GNU R package: RKWard GUI to conduct ANOVAs (using the ez package), pairwise t-Tests and plot interactions.
Homepage: https://rkward.kde.org
Suggests: r-cran-ez, r-cran-sciplot
