Source: r-other-rkward-rk-factoranalysis
Section: math
Priority: optional
Maintainer: m.eik michalke <meik.michalke@hhu.de>
Build-Depends-Indep: debhelper (>> 4.1.0), r-base-dev (>= 2.9.0), cdbs, rkward (>= 0.5.6)
Standards-Version: 3.9.3.1
Homepage: http://rkward.sf.net

Package: r-other-rkward-rk-factoranalysis
Architecture: all
Section: math
Depends: r-base (>= 2.15.0), rkward (>= 0.5.6)
Description: GNU R package: RKWard GUI to conduct principal component and factor analysis (using the psych package). Also includes
 dialogs for scree plots, correlation plots, VSS/MAP and parallel analysis.
Homepage: http://rkward.sf.net
